body {
  width: 20rem;
  background-color: #fff;
  padding: 0px 16px 2px 16px;
}

textarea {
  resize: none;
  width: 100%;
  margin-top: 4px;
  padding: 5px;
}

.fieldContainer {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.header {
  flex: 1;
  display: flex;
  /* gap: 10px; */
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

#version {
  margin-top: -12px;
  margin-left: 28px;
  font-size: x-small;
}

#container {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.disabled {
  color: #666;
  filter: grayscale(100);
}

.checkboxContainer {
  display: flex;
  align-items: center;
  width: 100%;
}
