body {
  width: 20rem;
  background-color: #fff;
  padding: 0px 16px 2px 16px;
}

textarea {
  resize: none;
  width: 100%;
  margin-top: 4px;
}

.disabled {
  color: #666;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  width: 100%;
}
