body {
  width: 20rem;
  background-color: #fff;
  padding: 0px 16px 2px 16px;
}

textarea {
  resize: none;
  width: 100%;
  margin-top: 4px;
}

.header {
  flex: 1;
  display: flex;
  gap: 5px;
  align-items: center;
}

.icon {
  width: 25px;
  height: 25px;
}

#version {
  margin-top: -8px;
}

.disabled {
  color: #666;
  filter: grayscale(100);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  width: 100%;
}
